<form>
  <h2>Serie hinzufügen:</h2>
  <div class="mb-2">
    <label for="newShowID">ID:</label>
    <input
      class="form-control"
      id="newShowID"
      name="newShowID"
      type="number"
      placeholder="Hier die ID der Serie eingeben!"
      [(ngModel)]="show.id"
    />
  </div>
  <div class="mb-2">
    <label for="newShowTitle">Titel:</label>
    <input
      class="form-control"
      id="newShowTitle"
      name="newShowTitle"
      type="text"
      placeholder="Hier den Titel eingeben"
      [(ngModel)]="show.title"
    />
  </div>
  <button type="submit" class="btn btn-primary" (click)="save()"> 
    absenden
  </button>
</form>
